.box {
    background-color: rgb(255, 255, 255) ;

    width: 457px;
    height: 508px;
    box-shadow: 0px 9px 9px #00000029;
     border-radius: 35px;
    display: grid;
    grid-template-rows: 197px auto;
    grid-template-columns: 1fr;
/*     grid-column: 2;
    grid-row: 2; */
}
.ellipse {
    background-color: black;
    border-radius: 100px;
    height: 184px;
    width: 180px;
    position: relative;
    top: 100px;
    left: 140px;
    border:0.5px solid black ;
}
.red {
    background-color: #FF6B81;
    box-shadow: 0px 9px 9px #00000029;
    border-radius: 33px 33px 0px 0px;
}
.withe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info1 {
    font-weight: bold;
    padding-left: 82px;
}
.info2 {
    padding-right: 40px;

}
body {
/*     height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */

    background-color: #DFE4EA;
    display: grid;
    justify-content: center;
    height: 100vh;
    align-content: center;
}
